@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f0f0;
  --foreground: #373737;

  --white: #f0f0f0;
  --primary: #373737;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--manrope);
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
