@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F0F0F0;
  --foreground: #373737;

  --white: #F0F0F0;
  --primary: #373737;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--manrope);
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}